<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1040008832715-jtepohahj3ib6vran3lsepibshopkrmm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1040008832715-jtepohahj3ib6vran3lsepibshopkrmm</string>
	<key>API_KEY</key>
	<string>AIzaSyBtdmzN9L7xSn9CZaqHKuCGa-c6UfmbLEA</string>
	<key>GCM_SENDER_ID</key>
	<string>1040008832715</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.jobspot</string>
	<key>PROJECT_ID</key>
	<string>jobspot-16</string>
	<key>STORAGE_BUCKET</key>
	<string>jobspot-16.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1040008832715:ios:e68ad44b677ca175499d4e</string>
</dict>
</plist>